.page{
    height: 100vh;
    background: url('../../assets/interview/interview-bg.png') no-repeat;
    background-position: bottom 48px center;
    background-size: 375px 375px;
}

.title{
    font-size: 32px;
    line-height: 36.72px;
    font-weight: 700;
    margin: 14px 32px 24px;
}

.box{
    width: 320px;
    height: 276px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-item{
    width: 100%;
    height: 120px;
    overflow: hidden;
}