// @font-face {
//     font-family: 'PingFang';
//     src: url('~@assets/PingFang Regular.otf') format('truetype');
//   }
// @import "../../assets/PingFang.css";

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('~@assets/index/index-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;

  .prompts {
    // width: 330px;
    height: 192px;
    font-size: 32px;
    // background-color: red;
    line-height: 44.8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;

    h1 {
      color: #4990E2;
    }

    .welcome {
      display: flex;
      flex-direction: row;
    }
  }

  .swiper {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 50px;
    // background-color: green;


    .swiper-slide {
      width: 80px;
      height: 80px;
      margin-top: 50%;
      border-radius: 50%;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      // margin-right: 10px;
    }

    .swiper-slide.active {
      background-color: blue;
      transform: scale(1.5);
      transition: all 0.5s;
    }
    //添加一个过渡动画
 

  }
}
