.box{
    width: 100%;
    height: 100%;
}

.top{
    width: 100%;
    height: 8.1vh;
    margin: 1vh 0 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .text-container{
        height: 100%;
        width: 40vw;
        position: relative;
        top: 3vh;
        .greet{
            margin-bottom: 1.2rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            letter-spacing: 5px;
            color: #999999;
        }
        .nickname{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5rem;
            color: rgba(0, 0, 0, 1);
        }
    }
    .profile-photo{
        width: 12.8vw;
        height: 12.8vw;
        border-radius: 50%;
        overflow: hidden;
        border: 6px solid #000000;
        .photo{
            width: 100%;
            height: 100%;
        }
    }
}

.info-box{
    width: 85vw;
    height: 28vh;
    margin: 0 auto ;
    position: relative;
    .info{
        width: 100%;
        height: 100%;
        border-radius: 22px;
    }
    .rotate{
        transform: rotate(-6.83deg);
        background-color: rgba(149, 178, 212, 1);
    }
    .info-up{
        position: absolute;
        top: 0;
        background-color: rgba(73, 144, 226, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        .info-box{
            width: 78.4vw;
            height: 22vh;
            color: rgba(255, 255, 255, 1);
            .info-box-top{
                width: 100%;
                height: 27.3%;
                display: flex;
                justify-content: space-between;
                .name{
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1rem;
                }
                .academy{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .school{
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    .direction{
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
                
            }
            .info-container{
                width: 100%;
                height: 60%;
                margin-left: 2vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 1rem;
                font-weight: 400;
            }
        }
        .icon{
            width: 18%;
            height: 30%;
            position: absolute;
            right: 0;
            bottom: 0;
            .img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
