.page{
    height: 100vh;
    .top{
        height: 54px;
        display: flex;
        justify-content: space-between;
        .title{
            margin: 14px 0 0 32px;
            font-family: Arial;
            font-size: 32px;
            font-weight: 700;
            line-height: 37px;
        }
        .ticket-got{
            font-family: Arial;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            color: rgba(73, 144, 226, 1);
            align-self: flex-end;
            margin-right: 20px;
        }
    }
    .info-container{
        max-height: 580px;
        width: 350px;
        display: flex;
        flex-direction: column;
        margin: 0 auto ;
        padding-top: 30px;
        overflow: scroll;
        align-items: center;
        .info-box{
            width: 320px;
            height: 160px;
            margin-bottom: 24px;
            flex-shrink: 0;
        }
    }
}