.page{
    height: 100vh;
    background: url(../../assets/bg/options-bg.png) no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 320px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-item{
    height: 120px;
}